<div class="sidebar-header">
  <h2>Cofradía 360</h2>
</div>

<mat-nav-list>
  <!-- Link to DashboardComponent -->
  <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <div matListItemTitle>Panel Central</div>
  </a>

  <!-- Link to CensoComponent -->
  <a mat-list-item routerLink="/censo" routerLinkActive="active-link">
    <mat-icon matListItemIcon>people</mat-icon>
    <div matListItemTitle>CensoComponent de Hermanos</div>
  </a>

  <!-- Link to Eventos -->
  <a mat-list-item routerLink="/eventos" routerLinkActive="active-link">
    <mat-icon matListItemIcon>event</mat-icon>
    <div matListItemTitle>Foro de Eventos</div>
  </a>

  <!-- Link to Inventario -->
  <a mat-list-item routerLink="/inventario" routerLinkActive="active-link">
    <mat-icon matListItemIcon>inventory_2</mat-icon>
    <div matListItemTitle>Inventario</div>
  </a>
</mat-nav-list>
