<div class="sidebar-header">
  <h2>Cofradía 360</h2>
</div>

<mat-nav-list>
  <!-- Link to DashboardComponent -->
  <a mat-list-item routerLink="/" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact: true}">
    <mat-icon matListItemIcon>dashboard</mat-icon>
    <div matListItemTitle>Panel Central</div>
  </a>

  <!-- Link to CensoComponent -->
  <a mat-list-item routerLink="/censo" routerLinkActive="active-link">
    <mat-icon matListItemIcon>people</mat-icon>
    <div matListItemTitle>CensoComponent de Hermanos</div>
  </a>

  <!-- Link to Eventos -->
  <a mat-list-item routerLink="/eventos" routerLinkActive="active-link">
    <mat-icon matListItemIcon>event</mat-icon>
    <div matListItemTitle>Foro de Eventos</div>
  </a>

  <!-- Link to Inventario -->
  <a mat-list-item routerLink="/inventario" routerLinkActive="active-link">
    <mat-icon matListItemIcon>inventory_2</mat-icon>
    <div matListItemTitle>Inventario</div>
  </a>

  <!-- Link to Cuotas -->
  <a mat-list-item routerLink="/cuotas" routerLinkActive="active-link">
    <mat-icon matListItemIcon>receipt_long</mat-icon>
    <div matListItemTitle>Gestión de Cuotas</div>
  </a>

  <!-- Link to Papeletas -->
  <a mat-list-item routerLink="/papeletas" routerLinkActive="active-link">
    <mat-icon matListItemIcon>assignment</mat-icon>
    <div matListItemTitle>Papeletas de Sitio</div>
  </a>

  <!-- Link to Documentos -->
  <a mat-list-item routerLink="/documentos" routerLinkActive="active-link">
    <mat-icon matListItemIcon>description</mat-icon>
    <div matListItemTitle>Documentos</div>
  </a>

  <!-- Link to Auditoria -->
  <a mat-list-item routerLink="/auditoria" routerLinkActive="active-link">
    <mat-icon matListItemIcon>history_toggle_off</mat-icon>
    <div matListItemTitle>Auditoría</div>
  </a>

  <!-- Link to Biografia -->
  <a mat-list-item routerLink="/biografia" routerLinkActive="active-link">
    <mat-icon matListItemIcon>menu_book</mat-icon>
    <div matListItemTitle>Historia y Biografía</div>
  </a>
</mat-nav-list>
