<h2 mat-dialog-title>{{ isEditMode ? 'Editar Cuota' : 'Añadir Cuota' }}</h2>

<mat-dialog-content>
  <form [formGroup]="cuotaForm" class="form-container">

    <mat-form-field appearance="outline">
      <mat-label>ID Hermano</mat-label>
      <input matInput type="number" formControlName="idHermano" placeholder="Introduzca el ID del hermano">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Importe (€)</mat-label>
      <input matInput type="number" formControlName="importe" placeholder="Introduzca el importe de la cuota">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Fecha de Pago</mat-label>
      <input matInput type="date" formControlName="fechaPago">
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Estado</mat-label>
      <mat-select formControlName="estado">
        <mat-option value="Pagado">Pagado</mat-option>
        <mat-option value="Pendiente">Pendiente</mat-option>
      </mat-select>
    </mat-form-field>

  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="onCancel()">Cancelar</button>
  <button mat-flat-button color="primary" [disabled]="cuotaForm.invalid" (click)="onSubmit()">
    Guardar
  </button>
</mat-dialog-actions>
