.admin-layout {
  display: grid;
  grid-template-columns: 250px 1fr; /* 250px for the menu, rest for the information. */
  min-height: 100vh; /* All the heigh of the screen. */
  background-color: #f3f4f6; /* Light grey in background. */
}

.sidebar-area {
  background-color: #1e293b; /* A seablue. */
  color: white;
}

.content-area {
  padding: 2rem;
  overflow-y: auto;
}

.app-container {
  height: 100vh;
}

.content-padding {
  padding: 24px;
}

.sidenav {
  width: 250px;
  background-color: #1e293b;
  color: #f8fafc;
}

.sidenav mat-icon,
.sidenav .mdc-list-item__primary-text {
  color: #e2e8f0 !important;
}

.sidenav .mat-mdc-list-item:hover {
  background-color: #334155 !important;
}
