<mat-sidenav-container class="app-container">

  <!-- Sidebar -->
  <mat-sidenav #sidenav mode="side" opened class="sidenav">
    <mat-toolbar color="primary">Panel Admin</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/censo">
        <mat-icon matListItemIcon>group</mat-icon>
        <span matListItemTitle>Censo de Hermanos</span>
      </a>
      <a mat-list-item routerLink="/eventos">
        <mat-icon matListItemIcon>event</mat-icon>
        <span matListItemTitle>Foro de Eventos</span>
      </a>
      <a mat-list-item routerLink="/inventario">
        <mat-icon matListItemIcon>inventory_2</mat-icon>
        <span matListItemTitle>Inventario</span>
      </a>
      <a mat-list-item routerLink="/papeletas">
        <mat-icon matListItemIcon>receipt_long</mat-icon>
        <span matListItemTitle>Papeletas de Sitio</span>
      </a>

      <a mat-list-item routerLink="/documentos">
        <mat-icon matListItemIcon>folder_open</mat-icon>
        <span matListItemTitle>Secretaría</span>
      </a>

      <a mat-list-item routerLink="/auditoria">
        <mat-icon matListItemIcon>manage_search</mat-icon>
        <span matListItemTitle>Auditoría</span>
      </a>

      <a mat-list-item routerLink="/biografia">
        <mat-icon matListItemIcon>auto_stories</mat-icon>
        <span matListItemTitle>Historia y Biografía</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Main Area -->
  <mat-sidenav-content>

    <!-- Header -->
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Gestión Integral de Cofradía</span>
    </mat-toolbar>

    <!-- Dynamic Content (Table Charging) -->
    <div class="content-padding">
      <router-outlet></router-outlet>
    </div>

  </mat-sidenav-content>

</mat-sidenav-container>
