.biografia-container {
  padding: 1rem;
}

table {
  width: 100%;
}

.table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
  flex-wrap: wrap;
  gap: 16px;
}

.buscador-biografia {
  width: 320px;
}
